@using FoodDelivery.WebApp.Models
@{
    Layout = null;
    List<Restaurant> ResList = ViewBag.Restaurants;
    List<double> Distances = ViewBag.distanceList;
    int count = 0;

}
@if (ResList != null)
{
    foreach (var m in ResList)
    {
        <div class="row resdiv" style="height:140px; border-bottom:solid 1px #808080; overflow:hidden;">
            <div class="col-sm-2" style="padding:10px"><img src="~/images/restaurantimages/@m.ImageURL" width="120" height="120" /></div>
            <div class="col-sm-8" style="line-height:10px">
                <h3 class="Res-name">@m.Name</h3>


                <p>
                    <span style="font-size:15px;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif font-weight:bold">Opening time</span> <span style="font-size:15px; color:#ff0000"> @m.OpeningTime</span>
                    <div class="clearfix"></div>
                    
                    <span style="font-size:15px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif font-weight:bold">Closing time</span> <span style="font-size:15px; color:#ff0000"> @m.ClosingTime</span>
                </p>
            </div>
            <div class="col-sm-2" style="padding:20px">
                @Html.ActionLink("Order", "RestaurantDisplay", "ShowRestaurant", new { a = m.Id, d = Distances[count] }, new { @class = "btn btn-custom1" })
                <div class="clearfix"></div>
                <span style="font-size:25px; font-weight:bold;">@Distances[count] </span><span style="font-size:15px;">km</span>
            </div>
        </div>
        count++;
    }
}